body{
  font-family: 'Poppins', sans-serif;
}

h2{
  text-align: center;
  margin: 20px auto;
  font-weight: 600;
}

.header, .footer{
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: auto !important;
  max-width: 1240px;
}

.btn-blue, .bg-blue {
  background-color: #3274D6;
}

.btn-blue:hover{
  background-color: #2868c7;
}

.btn-outline-primary:hover{
  background-color: #2868c7;
}

.date{
  margin: 0 100px;
}


/* Textarea custom css */

textarea {
  resize: none;
}

/* form customization */
form.striped-rows .form-group:nth-child(even) {
  background-color: rgba(0,0,0,.05);
}

.form-group{
  margin-bottom: 0;
}
