body{
  font-family: 'Poppins', sans-serif;
}

h2{
  text-align: center;
  margin: 20px auto;
  font-weight: 600;
}

.btn-primary {
  background-color: #3274D6;
}
.bg-primary {
  background-color: #3274D6!important;
}

.date{
  margin: 0 100px;
}
